@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #323334;
    color: white;
}

#sectionImg {
    background-image: url('D:\Ten Projects\project-4\src\Assests\bg.jpg');
}